certifi==2019.9.11
chardet==3.0.4
Django==2.2.7
django-extensions==2.2.5
django-node==4.0.2
django-rest-framework==0.1.0
django-webpack==3.1.1
django-webpack-loader==0.6.0
djangorestframework==3.10.3
idna==2.8
Markdown==3.1.1
optional-django==0.1.0
psycopg2==2.8.4
pytz==2019.3
requests==2.22.0
six==1.12.0
sqlparse==0.3.0
urllib3==1.25.6
uuid==1.30
